/* Landing Page Style Start */
.landing-page {
    display: flex;
    justify-content: space-between;
}

.landing-img-section img {
    width: 440px;
    height: 775px;
    padding-top: 100px;
    padding-left: 170px;
}

.landing-content {
    padding-top: 306px;
    padding-right: 160px;
}

.landing-content h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #240D57;
    text-align: right;

}

.landing-content span {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.landing-content p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #4F4F4F;
}

.landing-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.landing-content a {
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    padding: 16px 70px 16px 70px;
}

.landing-button-md {
    display: none;
}

/* Max- 375px Mobile View */
@media only screen and (max-width: 375px) {
    .landing-page {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .landing-img-section img {
        width: 440px;
        height: 775px;
        padding-top: 100px;
        padding-left: 0px;
    }

    .landing-content {
        padding-top: 60px;
        padding-right: 0px;
    }

    .landing-content h1 {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 64px;
        color: #240D57;
        text-align: center;
    }
    .landing-content span {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 74px;
        background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .landing-content p {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #4F4F4F;
    }

    .landing-button {
        display: none;
    }

    .landing-button-md {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .landing-button-md a {
        text-decoration: none;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
        padding: 16px 70px 16px 70px;
    }
}

/* 376px to Max- 960px iPad Pro 11 View */
@media only screen and (min-width:376px) and (max-width:960px) {
    .landing-page {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .landing-img-section img {
        width: 440px;
        height: 775px;
        padding-top: 100px;
        padding-left: 0px;
    }

    .landing-content {
        padding-top: 60px;
        padding-right: 0px;
    }

    .landing-content h1 {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: #240D57;
        text-align: center;
    }

    .landing-content p {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #4F4F4F;
    }

    .landing-button {
        display: none;
    }

    .landing-button-md {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .landing-button-md a {
        text-decoration: none;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
        padding: 16px 70px 16px 70px;
    }
}

/* Landing Page Style End */

/* Event Page Style Start */
.event-page {
    width: 70%;
    margin: auto;
    padding-top: 184px;
    display: flex;
    justify-content: space-between;
}
.event-content{
    width: 60%;
    padding-top: 184px;
}
.event-content h1{
    font-family: Helvetica;
    font: bold;
    font-size: 48px;
    line-height: 100%;
    color: #240D57;
    margin-bottom: 17px;
}
.event-content small{
    font-family: Helvetica;
    font-size: 18px;
    color: #828282;
}
.host{
    font-family: Helvetica;
    font: bold;
    font-size: 22px;
    color: #828282;
}
.calender{
    display: flex;
    padding-top: 33px;
}
.calender-icon{
    display: flex;
    align-items: center;
    color: #8456EC;
    background: #fff;
    padding: 0 15px 0 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.calender-content p{
    padding-left: 20px;
    margin: 0;
}
.calender-content h4{
    padding-left: 20px;
    margin: 0;
}
.time-date{
    font-size: 18px;
    font: 800;
    color: #4F4F4F;
}
.date-time{
    font-size: 18px;
    font: bold;
    color: #240D57;
}


.location{
    display: flex;
    }
.location-icon{
    display: flex;
    align-items: center;
    color: #8456EC;
    background: #fff;
    padding: 0 15px 0 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.location-content h4{
    padding-left: 20px;
    margin: 0;
    font-size: 18px;
    font: bold;
    color: #240D57;
}
.location-content p{
    padding-left: 20px;
    margin: 0;
    font-size: 18px;
    font: 800;
    color: #4F4F4F;
}
.arrow-icon{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-right: 60px;
}
.arrow{
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
}
.cake-img img{
    padding-top: 184px;
    width: 500px;
    height: 500px;
}



/* Max- 375px Mobile View */
@media only screen and (max-width: 375px) {
    .event-page {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .event-page {
        display: flex;
        justify-content: space-between;
    }
   
    .event-content{
        white-space: nowrap;
    }
    .cake-img img{
        width: 375px;
        height: 375px;
    }
}
/* 376px to Max- 960px iPad Pro 11 View */
@media only screen and (min-width:376px) and (max-width:960px) {
    .event-page {
        width: 50%;
        margin: auto;
        padding-top: 184px;
        display: flex;
        flex-direction: column-reverse;
    }

    .event-page {
        padding-top: 88px;
        display: flex;
        justify-content: space-between;
    }
    .event-content{
        padding-top: 40px;
    }
    .event-content{
        white-space: nowrap;
    }
}
/* Event Page Style End */